.header {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 0 ) {
  .header {
    max-width:  0;
  }
}
 